<form method="post" 
      action="{% url 'productos_edit' form.instance.pk %}" 
      class="js-producto-edit-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Actualizar Producto</h4>
        <button type="button" class="btn-close" 
                data-bs-dismiss="modal" aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
        {% include 'productos/form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" 
                data-bs-dismiss="modal" aria-label="Close">
                Cerrar
        </button>
        <button type="submit" class="btn btn-success">
          Actualizar Producto
        </button>
    </div>
</form>